@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'font.css';

body {
  background-color: #211DD8;
  font-family: 'Poppins', sans-serif;
}

.-translate-y-1-1{
  transform: translateY(-2px);
}

.translate-x-1-1{
  transform: translateX(2px);
}

.mirror{ 
  transform: scale(-1, 1);
}

.text-underline-offset{
  text-underline-offset: 3px;
}





